@import 'tailwindcss';

:root {
  --background: #f0eaf8;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: 'Inter', sans-serif;
  --color-button: #761be4;
  --color-button-hover: #6a19cd;
  --color-button-inactive: #cbb6e5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  color: #000853;
}

.container {
  max-width: 426px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 120px;
}
