.react-datepicker {
  border: 1px solid #cbb6e5; /* fioletowa ramka */
  border-radius: 8px;
  padding: 0.5rem;
  font-family: sans-serif;
  font-family: 'Inter', sans-serif; /*  zmiana czcionki */
  color: #000853;
}

.react-datepicker__header {
  background: white;
  border-bottom: none;
}

.react-datepicker__current-month {
  color: #000853; /* np. ciemny fiolet / granat */
  font-size: 1rem;
  font-weight: 500;
}

.react-datepicker__day {
  color: #000853; /* np. ciemny fiolet / granat */

  font-size: 1rem;
  width: 32px;
  height: 32px;
  line-height: 32px; /* wyr贸wnanie pionowe */
}

.react-datepicker__day:hover {
  width: 32px;
  height: 32px;
  line-height: 32px; /* wyr贸wnanie pionowe */
  border-radius: 50%;
}

.react-datepicker__day-name {
  color: #000853; /* np. ciemny fiolet / granat */
  font-size: 14px;
  font-weight: 500;
}

/* Change background color when hovering. */
.react-datepicker__day:hover {
  border-radius: 50% !important;
  background-color: #761be4; /* fiolet */
  color: white;
  color: #101828; /* Change this to your desired color */
}

.react-datepicker__day--outside-month {
  visibility: hidden; /* albo display: none */
}

/* lewa strzaka */
.react-datepicker__navigation--previous {
  top: 8px;
}

/* prawa strzaka */
.react-datepicker__navigation--next {
  top: 8px;
}

/* Wybrany dzie */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #761be4; /* fiolet */
  color: white !important;
  border-radius: 50%; /* k贸ko */
  transition: all 0.2s ease-in-out;
  line-height: 32px; /* wyrodkowanie pionowe */
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected:hover {
  background-color: #761be4 !important; /* fiolet */
  color: white !important;
  border-radius: 50%; /* k贸ko */
  transition: all 0.2s ease-in-out;
  line-height: 32px; /* wyrodkowanie pionowe */
}

.react-datepicker__day:hover {
  background-color: red; /* fioletowy hover */
  border-radius: 50%; /* k贸ko zamiast kwadratu */
  color: #000853; /* opcjonalnie zmiana koloru tekstu */
  cursor: pointer;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: center; /* wyrodkowanie caego wiersza nazw dni */
}

.react-datepicker__day-name {
  width: 2rem; /* dopasuj szeroko, 偶eby dni byy r贸wno rozo偶one */
  text-align: center;
}

.react-datepicker__day--today {
  font-weight: normal;
}

/* CustomDatePicker.css */
.custom-highlight {
  color: #898da9; /* ciemny fiolet tekst */
}

.custom-highlight:hover {
  background-color: #d8b4fe; /* janiejszy fiolet po hover */
  cursor: pointer;
}
